.confirm {
  align-items: center;
  animation: fadein 0.6s;
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 40;

  &__list {
    list-style: none;

    li {
      margin-bottom: 10px;

      label {
        @include ff_text();
      }

      div {
        @include ff_headline();

      }
    }
  }

  &__form {
      max-width: 270px;
      width: 100%;
  }

  &__header {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .confirm__title {
        border-top: 1px solid #ccc;
        padding: 20px 0 0;
    }
  }

  &__container {
    align-items: center;
    background: white;
    border-radius: 5px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    left: 50%;
    max-width: 90%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @include respond-to(tablet) {
      max-width: 470px;
      padding: 30px;
    }
  }

  &__close {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;

    @include respond-to(desktop) {
      right: 30px;
      top: 30px;
    }

    @include respond-to(hover) {
      &::after,
      &::before {
        opacity: 0.6;
        width: 22px;
      }
    }

    &::after,
    &::before {
      background-color: black;
      border-radius: 3px;
      content: '';
      height: 2px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      transform-origin: 0% 0%;
      transition: all 0.2s ease-in-out;
      width: 20px;
    }

    &::after {
      transform: rotate(-45deg) translate(-50%, -50%);
    }
  }

  &__btn {
    margin: 0;
    width: 100%;

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }

    &.disable {
    background: #ccc;
    transition: all 0.3s;

    &:hover {
        &:before {
            display: none;
        }
    }
    }
  }

  &__actions {
    display: flex;
    width: 100%;

    &.one-button {
      width: auto;
    }
  }

  &__fields {
    align-items: center;
    display: flex;
    padding-bottom: 10px;

    &--container {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      .error {
        margin-bottom: 0;
      }
    }

    &--input {
      border: 1px solid #eee;
      border-radius: 5px;
      height: 40px;
      line-height: 40px;
      margin: 0;
      padding-top: 0;
      text-align: right;
      width: 147px;
    }
  }

  &__title {
    @include ff_text();
    font-size: 16px;
    font-weight: 100;
    margin-top: 0;
    padding: 0 20px;
    text-align: center;
    width: 100%;

    b {
      @include ff_headline();
    }
  }

  &__subtext {
    p {
      text-align: left;
    }
  }

  &__subtitle {
    @include ff_headline();
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
    max-width: 300px;
    text-align: center;

    b {
      @include ff_headline();
    }
  }

  &__img {
    max-width: 160px;
  }

  &__loading {
    max-width: 40px;
  }

  &__explanation {
    margin: 0 0 20px;
    text-align: center;

    @include respond-to(desktop) {
      margin: 0 0 30px;
    }
    
    &--image {
      margin-bottom: 30px;
      margin-top: 50px;
      width: 100%;
    }
  }

  &__warning {
    display: inline-block;
    width: 100%;

    svg {
      max-height: 50px;
      max-width: 50px;
      width: 100%;
    }
  }

  &__content {
    margin-bottom: 36px;
    text-align: center;
  }
}
