.custom {
  &__option {
    cursor: pointer;
    transition: background 60ms;

    &:hover {
      background: #deebff;
      transition-delay: 60ms;
    }

    &.custom__select__option--is-focused {
      @include ff_headline();
      background: $blueColor;
    }

    &.custom-select__option--is-selected {
      background: $blueColorHover;
    }
  }
}
