.dashboard {
  &__header {
    display: flex;
    flex-direction: column;
    position: relative;

    @include respond-to(desktop_1400) {
      flex-direction: row;
    }

    &--column {
      width: 100%;

      @include respond-to(desktop_1400) {
        width: 50%;
      }

      &.ltv {
        display: inline-flex;
        justify-content: flex-end;
      }

      &.vertical {
        display: flex;
        flex-direction: column;
      }

      &-filters {
        align-items: flex-end;
        display: flex;
        flex-direction: column-reverse;
        right: 0;
        z-index: 10;

        @include respond-to(tablet) {
          flex-direction: row;
          float: right;
          margin-bottom: 10px;
          margin-left: 0;
          margin-top: 8px;
          top: 70;
        }

        @include respond-to(desktop) {
          margin-right: 0;
        }

        &.insights {
          margin-right: 24px;
        }

        &.ltv {
          margin-bottom: 32px;
          margin-right: 24px;
        }
      }
    }
  }
  
  &__state {
    &--synchronizing,
    &--unavailable {
      align-items: flex-start;
      background: white;
      bottom: 0;
      display: inline-flex;
      font-size: 14px;
      height: 35px;
      justify-content: flex-start;
      left: 0;
      margin-top: 10px;
      right: 0;
      text-align: center;
      z-index: 1;

      .preloader-sync {
        animation: rotation 3.3s infinite;
        margin-right: 4px;
        margin-top: 3px;
        max-width: 11px;
        vertical-align: middle;
      }
    }

    &--unavailable {
      color: $white;

      .image-button {
        margin: 0;
        max-width: 14px;
      }

      .content {
        align-items: center;
        display: inline-flex;
        justify-content: center;

        span {
          line-height: 30px;
        }
      }

      .text {
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s;
      }

      .btn {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        margin: 0;
        padding: 0 8px;
        transition: all 0.3s;

        &:hover {
          padding: 0 15px;

          .text {
            margin-right: 6px;
            max-width: 200px;
            opacity: 1;
            width: auto;
          }
        }
      }
    }

    &--available {
      display: none;
    }
  }

  &__empty {
    align-content: center;
    align-items: center;
    border-bottom: 1px dashed #ccc;
    border-left: 1px dashed #ccc;
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;

    .preloader {
      max-width: 30px;
    }

    .preloader-sync {
      animation: rotation 3.3s infinite;
      margin-bottom: 10px;
      max-width: 30px;
    }

    &--links {
      padding: 0 40px 20px;
      text-align: center;
    }

    &--options {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;

      &:first-child {
        .length2 & {
          &::before {
            border-top: 1px dashed #ccc;
            content: '';
            height: 1px;
            position: absolute;
            right: -19px;
            top: 50%;
            transform: translateY(calc(-50% - 8px));
            width: 40px;
          }

          &::after {
            background: white;
            content: 'o';
            height: 30px;
            line-height: 26px;
            padding: 0 5px;
            position: absolute;
            right: -9px;
            top: 50%;
            transform: translateY(calc(-50% - 8px));
          }
        }
      }

      &--column {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }

    &--h2 {
      @include ff_headline();
      margin: 0 0 5px;
    }

    &--title {
      font-size: 15px;
      margin-bottom: 20px;
      margin-top: 0;
      max-width: 450px !important;
      padding: 0 20px;
      text-align: center;
    }

    p {
    }

    .link {
      font-size: 16px;
      margin-top: 20px;
    }

    &--connectors {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      margin-bottom: 20px;
      max-width: 340px;
      width: 100%;

      &.length1 {
        grid-template-columns: 1fr;
      }

      &.length2 {
        grid-template-columns: 1fr 1fr;
      }

      &--container {
        position: relative;

        &--connected {
          background-image: url(/images/svg/status-connected-icon.svg);
          background-size: cover;
          height: 16px;
          position: absolute;
          right: -20px;
          top: 0;
          width: 16px;
        }

        //&--not-connected {
        //  background-image: url('../../images/svg/status-disable-icon.svg');
        //  background-size: cover;
        //  height: 16px;
        //  position: absolute;
        //  right: -20px;
        //  top: 0;
        //  width: 16px;
        //}
      }

      &--item {
        height: auto;
        margin: 0 10px 10px;
        max-height: 23px;
        max-width: 100px;
        width: auto;
      }
    }
  }

  &__connectors {
    padding-bottom: 20px;

    @include respond-to(desktop) {
      border-bottom: 1px dashed #eee;
      // display: none;
    }

    &--title {
      @include ff_headline();
      color: rgba(0, 0, 0, .6);
      font-size: 12px;

      b {
        @include ff_headline();
      }
    }

    &--item {
      display: inline-block;
      height: auto;
      margin-right: 20px;
      max-height: 16px;
      vertical-align: middle;
      width: auto;
    }
  }

  &__relative {
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    transition: all 0.3s;
    width: 100%;
    z-index: 31;

    .spinner {
      background: transparent;
    }

    &.hidden {
      opacity: 0;
    }
  }

  &__prevision {
    border-left: 2px dashed #ccc;
    bottom: 0;
    left: calc(53.35% + 48px);
    position: absolute;
    top: 0;
    width: 1px;
  }

  &__buttons {
    position: absolute;
    right: 0;
    top: 0;

    @include respond-to(tablet) {
      top: 16px;
    }
  }

  &__help {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-left: 10px;
    margin-top: 6px;
    min-width: 15px;
    position: relative;
    transition: all 0.3s;
    width: 15px;

    @include respond-to(hover) {
      background: #666;
      border: 1px solid #666;

      &::before {
        color: #fff;
      }
    }

    @include respond-to(desktop_big) {
      margin-top: 5px;
    }

    &::before {
      @include ff_headline();
      align-items: center;
      color: #ccc;
      content: '?';
      display: flex;
      font-size: 10px;
      justify-content: center;
      line-height: 15px;
      position: absolute;
      text-align: center;
      width: 15px;

      @include respond-to(desktop) {
        width: 100%;
      }
    }

    &:hover {
      .dashboard__help--text {opacity: 1;}
    }

    &--text {
      @include ff_text();
      background: #666;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .15);
      color: white;
      font-size: 11px;
      font-weight: bold;
      left: -10px;
      line-height: 12px;
      opacity: 0;
      padding: 5px 8px;
      position: absolute;
      top: -30px;
      transition: all 0.3s;
      white-space: nowrap;

      @include respond-to(mobile) {
        left: -45px;
      }

      &::after {
        background: #666;
        bottom: -4px;
        box-shadow: -1px 1px 2px rgba(0, 0, 0, .05);
        content: '';
        height: 8px;
        position: absolute;
        right: 10px;
        transform: rotate(-45deg);
        width: 8px;

        @include respond-to(tablet) {
          left: 13px;
          right: auto;
        }
      }
    }
  }

  &__button {
    @include ff_headline();
    background: #fff;
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 5px 0 0;
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    transition: all 0.3s;

    + .dashboard__button {
      background: #fff;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-radius: 0 5px 0 0;

      &.active,
      &:hover {
        border-left: 1px solid #eee;
        outline: none;
      }
    }

    &.active,
    &:hover {
      font-weight: bold;
      outline: none;
    }
  }

  &__cells-container {
    margin-top: 30px;
    position: relative;
    z-index: 1;

    @include respond-to(desktop) {
      display: grid;
      grid-gap: 30px;
      margin-top: 60px;
      padding-right: 50px;
    }

    .spinner.relative {
      width: 100%;
    }

    &.full {
      grid-template-columns: 1fr;
    }

    & > .dashboard__cell-data {
      border: 0;
      border-bottom: 1px solid #eee;

      @include respond-to(desktop) {
        border-right: 1px solid #eee;
      }
    }

    &.rows-0 {
      margin-top: 0;
    }

    &.rows-0,
    &.rows-1 {
      grid-gap: 70px;
      grid-template-columns: 1fr;
      @include respond-to(tablet) {
        grid-template-columns: 1fr;
      }

      @include respond-to(desktop_extra_big) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &.rows-3 {
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__cells {
    &--layout {
      margin-top: 50px;
      position: relative;

      &:first-child {
        grid-column: 1 / -1;
      }

      &.ltv {
        max-width: 1700px;
      }
    }
    
    &--header {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      position: relative;
    }

    &--layout-c {
      margin-top: 50px;
      position: relative;
    }

    &--title {
      @include ff_headline();

      @include respond-to(mobile) {
        align-items: center;
        display: inline-flex;
        font-size: 17px;
        height: 30px;
        justify-content: flex-start;
        line-height: 17px;
        max-width: 190px;
      }

      b {
        @include ff_headline();
      }

      &-graph {
        @include ff_headline();
        align-items: flex-start;
        display: inline-flex;

        @include respond-to(mobile) {
          display: inline-flex;
          font-size: 24px;
          height: auto;
          justify-content: flex-start;
          line-height: 24px;
          margin: 10px 0;
          max-width: 190px;
        }

        @include respond-to(tablet) {
          font-size: 28px;
          line-height: 24px;
        }

        b {
          @include ff_headline();
        }

        &.ltv-table {
          line-height: 26px;
          margin-bottom: 0;
          max-width: 100%;

          @include respond-to(tablet) {
            line-height: 34px;
            max-width: 470px;
          }
        }
      }
    }

    &--subtitle {
      &-graph {
        @include ff_headline();
        align-items: flex-start;
        display: inline-flex;
        margin-bottom: 46px;

        @include respond-to(mobile) {
          display: inline-flex;
          font-size: 12px;
          height: auto;
          justify-content: flex-start;
          line-height: 18px;
          margin: 10px 0 30px;
          max-width: 290px;
        }

        @include respond-to(tablet) {
          font-size: 14px;
          line-height: 22px;
          margin-top: 12px;
          max-width: 490px;
        }

        b {
          @include ff_headline();
        }
      }
    }
  }

  &__select {
    display: inline-block;
    margin-top: 10px;
    position: relative;
    right: 0;
    width: 100%;
    z-index: 10;

    @include respond-to(tablet) {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
    }

    &--input {
      bottom: -70px;
      float: right;
      margin-bottom: 20px;
      position: absolute;
      right: 0;

      @include respond-to(tablet) {
        bottom: 0;
        margin-bottom: 10px;
        position: relative;
      }

      &.ltv {

        bottom: 0;
        position: relative;
      }
    }
  }

  &__cell {
    animation: fadein 0.3s;
    background: $white;
    border-radius: 5px;
    min-height: 300px;
    padding: 0;
    position: relative;
    width: 100%;

    @include respond-to(tablet) {
      min-height: 22vw;
      padding: 0;
    }

    canvas {
      cursor: pointer;
      position: relative;
      z-index: 5;
    }

    &-row {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;

      @include respond-to(tablet) {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include respond-to(desktop_extra_big) {
        grid-gap: 10px 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    &-4row {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      position: relative;
      width: 100%;

      @include respond-to(tablet) {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      @include respond-to(desktop_extra_big) {
        grid-gap: 10px 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &.show-loading {
        .spinner {
          background: transparent;
          bottom: 0;
          height: auto;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
        }

        .dashboard__cell-data {
          opacity: .2;
        }
      }
    }

    canvas {
      max-width: 100%;
    }

    &-data {
      background: $white;
      border-bottom: 1px solid #eee;
      border-radius: 0;
      padding: 12px 0;
      width: 100%;

      @include respond-to(tablet) {
        padding: 12px 10px 24px;
      }

      @include respond-to(hover) {
        .dashboard__data--label,
        .dashboard__data--label_prev {
          opacity: 1;
        }
      }

      &:nth-child(3n) {

      }

      &:nth-child(3n) {
        border-right: 0 solid #eee;
      }
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    position: relative;

    &--row {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include respond-to(mobile) {
        flex-direction: column;
      }
      @include respond-to(tablet) {
        margin-top: 8px;
      }

      &-list {
        display: flex;
        flex-direction: column;

        @include respond-to(mobile) {
          flex-direction: row;
        }

        @include respond-to(desktop_1600) {
          flex-direction: row;
        }
      }
    }

    &--label_prev {
      @include ff_headline();
      color: rgba(0, 0, 0, .6);
      font-size: 13px;
      letter-spacing: -0.15px;
      line-height: 13px;
      opacity: 0;
      transition: all 0.3s;

      @include respond-to(mobile) {
        @include ff_headline();
        font-size: 11px;
        opacity: 1;
      }
    }

    &--label {
      @include ff_headline();
      color: #000;
      font-size: 13px;
      letter-spacing: -0.16px;
      opacity: 0;
      transition: all 0.3s;

      @include respond-to(mobile) {
        @include ff_headline();
        font-size: 11px;
        margin-bottom: 4px;
        margin-top: 1px;
        opacity: 1;
      }
    }

    &--title {
      @include ff_headline();
      display: inline-flex;
      font-size: 15px;
      height: 29px;
      line-height: 16px;

      @include respond-to(mobile) {
        margin-bottom: 10px;
      }

      @include respond-to(desktop_big) {
        align-items: flex-start;
        color: black;
        display: inline-flex;
        font-size: 23px;
        height: auto;
        justify-content: space-between;
        letter-spacing: -0.26px;
        line-height: 24px;
      }
    }

    &--group {
      display: inline-flex;
    }

    &--value {
      @include ff_headline();
      color: $blueColor;
      font-size: 18px;
      line-height: 18px;
      white-space: nowrap;

      @include respond-to(desktop) {
        font-size: 20px;
        letter-spacing: -0.29px;
      }
    }

    &--value_prev {
      @include ff_headline();
      color: rgba(0, 0, 0, .6);
      font-size: 14px;
      letter-spacing: -0.18px;
      line-height: 14px;
      white-space: nowrap;

      @include respond-to(desktop) {
        color: #999;
        font-size: 16px;
        letter-spacing: -0.18px;
        line-height: 16px;
      }
    }

    &--percentage {
      @include ff_headline();
      font-size: 14px;
      letter-spacing: -0.18px;
      line-height: 14px;
      margin-top: 4px;
      padding-left: 10px;

      @include respond-to(tablet) {
        margin-top: 0;
      }

      @include respond-to(desktop) {
        font-size: 13px;
        line-height: 21px;
      }


      &::before {
        margin-left: 0;

        @include respond-to(desktop_1600) {
          margin-left: 10px;
        }
      }

      &.true {
        color: $green;

        &::before {
          color: $green;
          content: '↑';
        }
      }

      &.false {
        color: $red;

        &::before {
          color: $red;
          content: '↓';
        }
      }
    }
  }
}
